*.class
*.pyc

# Package Files #
*.jar
*.war
*.ear
*.orig
*.bak
private.der

.classpath
.project
.settings
.DS_Store

target
cache.json
test-output
packages
devops
/target
/bin/
/.idea/
.idea/workspace.xml
/.editorconfig
/acp-apitests.iml
/*.log
